@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
  background-color: #f3f4f6;
}

.card {
  background-color: white;
}

.special-text {
  font-family: var(--font-londrina);
}

.logo {
  font-family: var(--font-rubik);
}

.animated-box {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  z-index: 100;
}

.open {
  height: 700px;
}

.closed {
  height:0;
}